*
!.gitignore
!admin_dash.png
!admins.png
!apply_leaves.png
!attendance.png
!awards.png
!dashboard_bottom_1600_1.png
!employee_admin.png
!employee_dashboard.png
!expense.png
!expense_admin.png
!expense_holidays.png
!job_admin.png
!holidays.png
!job_vacency.png
!notice.png
!payroll.png
!settings.png
!themes.png